* {
    margin: 0;
}
.bg-of-header{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1-of-header{
    padding-top: 174px;
    padding-bottom: 20px;
    padding-left: 307px;
    padding-right: 307px;
    font-weight: 700px;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}
/*p theke kaj dekhte hobe*/
.p-of-header{
    padding-bottom: 20px;
    padding-left: 374px;
    padding-right: 374px;
    font-weight: 500px;
    font-size:13;
    text-align: center;
    color: #FFFFFF;
}
.btn-donate-now{
    margin: 30px 0px 150px 680px;
    padding: 15px 25px;
border-radius: 10px;
border: none;
background-color: blue;
color: #FFFFFF;

}
h1 {
    font-family: "Inter", sans-serif;
}
P{
    font-family: "Poppins", sans-serif;
}
.donate-today-section{
    margin: 200px 400px;
}
.our-donate-plan-section{
    margin: 0px 100px 100px 100px;
}
.devided-section-of-our-donate-plan{
   display: flex;
   background-color: aquamarine;
}